body {
  margin: 0;
}

.app {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f6f9;
  transition: background-color 0.3s linear;
  min-height: 100vh;
}
i {
  margin-right: 0.5rem;
}

/* global style */

input {
  font-family: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shorttext {
  display: none;
}

Link {
  text-decoration: none;
}

/* dark mode */

.bg-dark {
  background-color: #1d1c1c;
}

.content-bg-dark {
  background-color: #2e2d2d;
  color: white;
}
